{% extends "navigation.html" %}

{% block content %}

<style>
    table.table {
        margin-top: 3.45rem;
        text-align: right;
    }

    td.lecture-content {
        text-align: left;
    }
</style>

<table class="table">
  <thead>
    <tr class="bg-primary">
        <th scope="col">URL</th>
        <th scope="col">Description</th>
        <th scope="col">Number of page visits</th>
        <th scope="col" colspan="2">Manage</th>
    </tr>
  </thead>
    </tbody>
    {% for resource in resources %}
    <tr>
        <td> {{ resource.URL }} </td>
        <td> {{ resource.Description }} </td>
        <td> {{ resource.TimesVisited }} </td>
        <td><a href="#" class="btn btn-success">Edit</a> </td>
        <td><a href="#" class="btn btn-danger">Delete</a> </td>
    </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}